<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
        <div class="form-group container">
            {{>header}}
            <h1>{{title}}</h1>
            <h4>Weather page created by {{ name }}</h4>
            <form>
                <input type="text" />
                <button class="submit">Submit</button>
            </form>
        </div>
    </body>
</html>